<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">


    <!--Servlet USER -->

    <servlet>
        <servlet-name>ServletUser</servlet-name>
        <servlet-class>servletUser</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ServletUser</servlet-name>
        <url-pattern>/api/user</url-pattern>
    </servlet-mapping>

    <!--Servlet PATH -->

    <servlet>
        <servlet-name>ServletPath</servlet-name>
        <servlet-class>servletPath</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ServletPath</servlet-name>
        <url-pattern>/api/path</url-pattern>
    </servlet-mapping>

    <!--Servlet WORKPLACE -->

    <servlet>
        <servlet-name>ServletWorkplace</servlet-name>
        <servlet-class>servletWorkplace</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ServletWorkplace</servlet-name>
        <url-pattern>/api/workplace</url-pattern>
    </servlet-mapping>

</web-app>